// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "susyone";
// @import "mixins";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3/box-shadow";

// Grid Units
$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0em;
$break          : 50em 16;
$container-style: fluid;

// Typography
$base-font-size	: 12px;
$base-line-height : 18px;

//Colors
$accent          : #9A3C45;
$sand           : #C5BFBA;
$grey			: #ECECEA;
$link-accent	: #70645A;