// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "susyone";
// @import "mixins";
@import "compass/typography/lists/horizontal-list";

// Grid Units
$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0em;
$break          : 50em 16;
$container-style: fluid;

// Typography
$base-font-size	: 12px;
$base-line-height : 18px;

//Colors
$green          : #006633;
$sand           : #D8D8C1;
$grey			: #D1D3D5;