body {
    
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Index Page */

#video-intro {
    @include span-columns(12, 12);
    text-align: center
}

iframe {
    width: 100%;
    min-height: 350px;	
}


/*#intro {
    @include span-columns(4 omega, 12);
}*/